body {
  font-family: 'sans-serif';
  background-color: #c1c9dd;
}

/*______________________________________________________________________________________________________________*/
/*Header of page*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8b98b0;
  padding: 12px;
  border-radius: 10px;
}

/*Title*/
  .board-title-select {
    display: flex;
    align-items: center;
  }
  /*Dropdown style*/
    .board-select {
        background-color: transparent;
        border: none;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 24px;
        font-family: 'sans-serif';
    }
  /* Style for Create board button*/
    .create-board-button {
      border: none;
      background-color: transparent;
      font-size: 24px;
      cursor: pointer;
    }

  /*Update board title*/
  /*Textbox style*/
  #newBoardTitle, #newBoardTitleModal {
    font-size: 20px;
    font-family: 'sans-serif';
    padding: 8px; /* add internal spacing */
    border: none;
    background-color: #f2f2f2;
    width: auto;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.1); /* shadow effect */
    transition: box-shadow 0.3s ease; /* Transition effect on mouseover */
  }
  #newBoardTitle:focus, #newBoardTitleModal:focus {
    outline: none; /* remove the default point on focus */
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.1); /* Increase effect when focusing */
  }
  
  /*Button update title style*/
  #updateBtn {
    background-color: #8b98b0;
    border: 0 solid #E5E7EB;
    width: 90px;
    height: 40px;
    color: #000000;
    font-size: 20px;
    transform: rotate(-2deg);
  }
  #updateBtn:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 5px;
    left: 5px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  #updateBtn:hover:after {
    bottom: 2px;
    left: 2px;
  }

/*______________________________________________________________________________________________________________*/
/*Create board modal style*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
  /* Style for the modal content */
  .modal-content {
    background-color: #f6f6f6;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    border-radius: 10px;
  }

    
  /* Style for the close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/*______________________________________________________________________________________________________________*/
/*Style has Sections*/    
.board-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
  /* background-color: #d3d1d1ad; */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* Sections style   *********************************************************/
  .section {
    background-color: #8b98b0;
    border-radius: 5px;
    padding: 10px;
    min-width: 300px;
    flex: 1;
    height: 70%;
  }

    .section-header {
      font-weight: bold;
      padding-bottom: 5px;
      border-bottom: 1px solid #a4abbc;
      display: flex;
      justify-content: space-between;
    }
    .section-title {
      font-size: 18px;
    }

/*Div where cards show **************/
  .cards-container {
    margin-top: 10px;
  }
    .card {
      /* background-color: #fff; */
      background-color: #aeb5c7;
      border-radius: 5px;
      padding: 8px;
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
    }
    .card-content {
      flex-grow: 1;
      font-size: 20px;
    }
      .card-id{
        padding-bottom: 5px;
        border-bottom: 1px solid #8b98b0;
      }
      .card-title{
        padding-bottom: 5px;
        padding-top: 5px;
      }
      .update-icon {
        cursor: pointer;
      }
      .update-icon:hover {
        color: #959bab;
        font-weight: bold;
      }
      .delete-icon {
        cursor: pointer;
        font-size: 25px;
      }
      .delete-icon:hover {
        color: #959bab;
        font-weight: bold;
      }
      .create-card-btn {
        margin-top: 10px;
        cursor: pointer;
        font-weight: bold;
      }
      .create-card-btn:hover {
        margin-top: 10px;
        cursor: pointer;
        color: #aeb5c7;
        font-weight: bold;
      }
      .card-add{
        text-align: center;
      }


    #cardTitleInput,
    #cardDescriptionInput,
    #updateCardTitleInput,
    #updateCardDescriptionInput,
    #updateSectionSelect{
      font-size: 20px;
      font-family: 'sans-serif';
    }
/*__________________________________________________________________________________________________________*/
/*Button style*/
    #saveBtn, #cancelBtn, #createBtn {
      align-self: center;
      background-color: transparent;
      font-family: 'sans-serif';
      font-size: 22px;
      border-style: solid;
      border-width: 2px;
      outline: none;
      border-bottom-left-radius: 15px 255px;
      border-bottom-right-radius: 225px 15px;
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
    }
    
    #saveBtn:hover, #cancelBtn:hover, #createBtn:hover {
      box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
      transform: translate3d(0, 2px, 0);
    }
